<div id="<%= dom_id recipe_ingredient %>">
  <p>
    <strong>Recipe:</strong>
    <%= recipe_ingredient.recipe_id %>
  </p>

  <p>
    <strong>Ingredient:</strong>
    <%= recipe_ingredient.ingredient_id %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= recipe_ingredient.unit %>
  </p>

  <p>
    <strong>Measurement:</strong>
    <%= recipe_ingredient.measurement %>
  </p>

</div>
