<div id="<%= dom_id ingredient %>">
  <p>
    <strong>Name:</strong>
    <%= ingredient.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= ingredient.category %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= ingredient.updated_by %>
  </p>

  <p>
    <strong>Last purchased:</strong>
    <%= ingredient.last_purchased %>
  </p>

  <p>
    <strong>Marked empty:</strong>
    <%= ingredient.marked_empty %>
  </p>

</div>
